{{!-- <a href="/" class="card-btn btn btn-outline-primary">Return</a> --}}


<h1>{{workId.title}}</h1>
<p>Posted <strong class='timeAgo'>{{formatDate workId.dateCreation}}</strong> </p>

<div class='tag-container'>

{{#each workId.tag}}
<p class="vignette-tag">{{this}}</p>
{{/each}}
</div>

<h3>Description</h3>
<p id='textArea'>{{workId.description}}</p>
{{!-- <div id='testText'></div> --}}


<h3>Screenshots</h3>

{{!-- IMAGE CONTAINER --}}


    
    <div class="tz-gallery ">

        <div class="row ">

            <div id="iframeDiv" class="col-sm-12 col-md-12">
                <a class="" href='{{workId.video}}'>
<iframe  id='iframeLink' src="{{workId.video}}" aria-hidden="true" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </a>
            </div>

            <div id="imageDiv1" class="col-sm-12 col-md-6">
                <a class="lightbox" href="{{workId.imagePreview}}">
                    <img id='imageLink1' src="{{workId.imagePreview}}" alt="Portfolio Image">
                </a>
            </div>
            <div id="imageDiv2" class="col-sm-12 col-md-6">
                <a class="lightbox" href="{{workId.imgOne}}">
                    <img id='imageLink2' src="{{workId.imgOne}}" alt="Portfolio Image">
                </a>
            </div>
            <div id="imageDiv3" class="col-sm-12 col-md-6">
                <a class="lightbox" href="{{workId.imgTwo}}">
                    <img id='imageLink3' src="{{workId.imgTwo}}" alt="Portfolio Image">
                </a>
            </div>
            <div id="imageDiv4" class="col-sm-12 col-md-6">
                <a class="lightbox" href="{{workId.imgThree}}">
                    <img id='imageLink4' src="{{workId.imgThree}}" alt="Portfolio Image">
                </a>
            </div>

        </div>

    </div>




{{!-- IMAGE CONTAINER --}}

{{!-- <iframe width="500px" height="250px" src="{{workId.video}}" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}