{{!-- <a href="/" class="card-btn btn btn-outline-primary">Return</a> --}}


<h1>{{workId.title}}</h1>
<p>Posted on <strong>{{formatDate workId.dateCreation}}</strong> </p>

<div class='tag-container'>

{{#each workId.tag}}
<p class="vignette-tag">{{this}}</p>
{{/each}}
</div>

<h3>Description</h3>
<p>{{workId.description}} </p>


<h3>Screenshots</h3>

{{!-- IMAGE CONTAINER --}}


<div class="container gallery-container">

    <h1>Bootstrap 3 Gallery</h1>

    <p class="page-description text-center">Fluid Layout With Overlay Effect</p>
    
    <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="{{workId.imagePreview}}">
                    <img src="{{workId.imagePreview}}" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/park.jpg">
                    <img src="../images/park.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/tunnel.jpg">
                    <img src="../images/tunnel.jpg" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <a class="lightbox" href="../images/traffic.jpg">
                    <img src="../images/traffic.jpg" alt="Traffic">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/coast.jpg">
                    <img src="../images/coast.jpg" alt="Coast">
                </a>
            </div> 
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="../images/rails.jpg">
                    <img src="../images/rails.jpg" alt="Rails">
                </a>
            </div>

        </div>

    </div>

</div>


{{!-- IMAGE CONTAINER --}}

<iframe width="560" height="315" src="{{workId.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{{!-- <iframe width="500px" height="250px" src="{{workId.video}}" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}

<img style="width: 250px;" src="{{workId.imagePreview}}" alt="">
<img style="width: 250px;" src="{{workId.imgOne}}" alt="">
<img style="width: 250px;" src="{{workId.imgTwo}}" alt="">
<img style="width: 250px;" src="{{workId.imgThree}}" alt="">