<a href="/" class="card-btn btn btn-outline-primary">Return</a>


<h1>{{workId.title}}</h1>
<h5>{{workId.dateCreation}}</h5>

{{#each workId.tag}}
<p class="tag">{{this}}</p>
{{/each}}

<h3>Description</h3>
<p>{{workId.description}} </p>


<h3>Screenshots</h3>
<iframe width="500px" height="250px" src="{{workId.video}}" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<img style="width: 250px;" src="{{workId.imgOne}}" alt="">
<img style="width: 250px;" src="{{workId.imgTwo}}" alt="">
<img style="width: 250px;" src="{{workId.imgThree}}" alt="">