<div>
    <h1>Welcome into my world 👋</h1>

    <form action="/" method="GET" class="search-bar">
        <div class="form-group search-align">
            <input type="text" name="search" placeholder="Front end, Javascript, React..."
                class="form-control search-size">
            <button class="btn btn-primary" type="submit"> <i class="fa fa-search" aria-hidden="true"></i>
            </button>
            {{!-- <input for='search' type="submit" class="btn btn-primary" test> --}}
        </div>
    </form>

</div>
{{!-- FILTERS --}}
{{!-- <div class="filter-container">
    <a class='filter-tag' href="">All</a>
    <a class='filter-tag' href="">Web Development</a>
    <a class='filter-tag' href="">Games</a>
    <a class='filter-tag' href="">UI, UX</a>
    <a class='filter-tag' href="">Full Stack</a>
    <a class='filter-tag' href="">Front-end</a>
    <a class='filter-tag' href="">Back-end</a>
</div> --}}

{{!--  CARDS--}}
{{!-- {{#if allWork}}
<h3>Latest projects</h3>
{{/if}} --}}

{{#if noMatch}}
<div class='message-search-err'>
    <h2>Sorry</h2>
    <p>There is no result...</p>

</div>
{{/if}}

{{!-- <div class='card-group card-align-center'>
    {{#each allWork}}
    <div class=''>

        <div class="card-container">
            <div class='img-container'>
                <img class="card-img" src="{{this.imagePreview}}" alt="my work presentation">
            </div>

            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.description}}</p>
                <a href="/work/{{this._id}}" class="card-btn btn btn-primary btn-block">View</a>
            </div>
        </div>
    </div>
    {{/each}}

</div> --}}

<div class="container-fluid">

    <div class='card-group row card-deck '>
        {{#each allWork}}

        <div class="col-sm-12 col-md-6 col-xl-4  ">
            <div class="card-container mr-3 mb-3">

                <div class='img-container'>
                    <img class="card-cover" src="{{this.imagePreview}}" alt="my work presentation">
                </div>



                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <a href="/work/{{this._id}}" class="card-btn btn btn-primary btn-block">View</a>
                </div>
            </div>
        </div>

        {{/each}}

    </div>
</div>