<main class='container-fluid'>

    <div class='home row'>

        {{!-- LEFT SIDE --}}
        <div class='full-container overflow-auto'>
            <div class='margin-container'>

                <div class='heading-manage'>
                    <h1>Dasboard</h1>
                    <div class='hidden-menu'>
                        <a href="/" class="btn btn-outline-primary">Home</a>
                        <a class='btn btn-primary' href="dashboard/create">Add new</a>
                    </div>

                </div>

                <table class="table">
                    <thead>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Tags</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </thead>

                    <tbody>
                        {{#each allWork}}
                        <tr>
                            <td><img width="50px" src="{{this.imagePreview}}" /></td>
                            <td>{{this.title}}</td>

                            <td>
                                {{!-- {{this.tag}} --}}
                                {{#each this.tag}}
                                <li class="vignette-tag">{{this}}</li>
                                {{/each}}

                            </td>

                            <td>{{this.dateCreation}}</td>
                            <td>
                                <a class='btn btn-secondary' href="/dashboard/{{this._id}}/edit/">Edit</a> /
                                <a class="btn btn-danger" href="/dashboard/{{this._id}}/delete/">Delete</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>






</main>